<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDgdK1ub0PR9bliyGkyeWBJPowIEY82Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>149553189060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appSmartHouse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>simple-chat-flutter-ae41a</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-chat-flutter-ae41a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149553189060:ios:bdcf4303d79df8b2427991</string>
	<key>DATABASE_URL</key>
	<string>https://simple-chat-flutter-ae41a-default-rtdb.firebaseio.com</string>
</dict>
</plist>